<div class="wrapper3">
    <ul class="p-blog-list">
        <li class="p-list-item" ng-repeat="content in blogItems" ng-click="blogClickHandler($index)" ng-mousemove="changeOver($index)"
            ng-class="{over:$index==over}">
            <div class = "list-head">
                <h3 class="p-list-title">{{content.title}}</h3>
            </div>
            <div class="list-body">
                <p class="p-list-body">{{content.content}}</p>
            </div>

            <div class = "list-foot">
                <div class="name"><p class="p-list-username">用户：{{content.username}}</p></div>
                <div class="date"><p class="p-list-publish-time">{{content.date}}</p></div>
            </div>
            
        </li>
    </ul>
    <div class="null-show" ng-show="isNull">
        <p class="null-show-info">暂无内容</p>
    </div>

</div>