<div class="write-blog-wrapper">
    <div class="blog-box-title">
        <input class="txt-blog-title" type="text" placeholder="请输入文章标题" ng-model="blog.title" />
    </div>
    <div  class="blog-box-content">
        <textarea class="txt-blog-content" clos=",50" rows="5" warp="virtual" placeholder="在此写博客" ng-model="blog.content"></textarea>
    </div>
    <div class="blog-box-button">
        <input class="btnblog" type="button" ng-click = "blogPublish()" value="发布博客">
        <input class="btnblog" type="button" ng-click = "blogListReview()" value="查看列表">
    </div>


</div>